header {

  display:flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width:100%;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  position:fixed;

}
#logo {
  display:flex;
  width:80%;
}
#links {
display:inline-flex;
align-items: center;
justify-content:space-around;
min-width:300px;
padding-right: 60px;
}

nav span {
    display: flex;
    justify-content: space-between;
}
nav span a{color:black;}

#main {
  display:flex;
  border:3px solid black;


}

.column {
 border: 1px solid blue;
 min-height: 50px;

}

.large {
  width:630px;
  flex-direction: column;
  align-self:flex-end;
}

.medium {
  width:300px;
}

.small {
  width:240px;
}
